@import url('https://fonts.googleapis.com/css2? family= Cinzel:wght@400;600 & family= Nunito:wght@400;800 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Cinzel:wght@400;600 & family= Great+Vibes & family= Nunito:wght@400;800 & display=swap' );

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

body{
    width: 100%;
    background-image: url(../assets/images/imagenfondomarmol.PNG);
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
}

header{
    position: sticky;
    top: 0;
}


main{
    padding: 40px 5px;
    margin-bottom: 50px;
}


/* Header  todas las paginas*/

.encabezado{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding: 10px 30px;
    align-items: center;
    background-image: url(../assets/images/imagenfondomarmol.PNG);
    box-shadow: 0 30px 50px -12px rgba(0, 0, 0, 40%);
    max-width: 100%;
    margin: 0 auto;

}
.encabezado__logo{
    width: 60px;
    height: 60px;
    border-radius: 15px; 
    box-shadow: 30px 30px 50px -5px rgba(135, 134, 134, 0.6);
}

.encabezado__link{
    margin-inline: 10px;
    text-decoration: none;
    color: black;
    font-size: bold;


}

/* Main menu navegacion */

.principal{
    display: grid;
    grid-template-columns: 1fr;
    
}

.principal__titulo{
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
  
}

.principal__menu{
    display: flex;
    justify-content: center;
    margin: 20px;

}


.principal__menu-items{
    display: inline-block;
    border-right: 3px solid black;
    padding-inline: 60px;
}

.principal__menu-items.qs{
    border-left: 4px solid black;
}

.principal__menu-items a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}


.principal__menu-items.active a, .principal__menu-items a:hover{
    text-decoration: underline double;
    
}
/* 
/* .principal__menu-items:hover{
    background-color: black;
    border-radius: 4px;
} */
/* .principal__menu-items a:hover{
    color: whitesmoke;
} */

/* Main Index portada */

@keyframes portadaanimation{

    0%{background-image: url(../assets/images/portada/portadavelascuencos.jpg)}
    20%{background-image: url(../assets/images/portada/portadafusta.jpg)}
    40%{background-image: url(../assets/images/portada/portadavelasvidrio.jpg)}
    60%{background-image: url(../assets/images/portada/portadamantasrusticas.jpg)}
    80%{background-image: url(../assets/images/portada/portadamantarustica.jpg)}
    100%{background-image: url(../assets/images/portada/portadamantagris.jpg)}
}

.portada{
    padding: 0px 0px;
    margin: 0px 0px;
    width: 100%;
    height: 70vh;
    background-size: cover;
    animation-name: portadaanimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    border-radius: 10px;

}

.principal__titulo-2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 8px 0px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-image: linear-gradient(to right, grey, whitesmoke 55% 45%);
}

.destacados{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-top: 40px;
    column-gap: 10%;
    padding: 10px 40px;
    max-width: 100%;
}

.destacados__productos{
    width: 100%;     
    background-color: #f1f1f1;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 40px;
    cursor: default;
    justify-content: center;
}

.destacados__productos-images{
    width: 100%;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
      
}

.destacados__productos-titulo{
    font-size: 22px;
    text-align: center;
    margin: 10px;
}

.destacados__productos-boton{
    background-color: darkgray;
    display: inline-block;
    width: 60%;
    margin-inline: 20%;
    margin-top: 10px;
    height: auto;
    padding: 15px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    
}


.destacados__productos-boton a{
    display: inline-block;
    text-decoration: none;
    border-color: white;
    color: white;
    margin: 0px;
    padding: 0px;
}

.destacados__productos-boton a:hover{
    text-decoration: underline double;
}

.destacados__productos-boton:hover{
    background-color: #474747;
    font-weight: bold;
    cursor: pointer;
}

    

/* main productos */

.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 5%;
    padding: 10px 40px;
    max-width: 100%;
}
 
.product__productos{
    width: 100%;     
    background-color: #f1f1f1;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 50px 50px 0px rgba(106, 106, 106, 0.3);
    margin-bottom: 40px;
    cursor: default;
    transition: all 400ms ease;
}

.product__productos:hover{
    width: 100%;     
    background-color: #f1f1f1;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 60%);
    margin-bottom: 40px;
    transform: translateY(-4%);

}

.product__productos-images{
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
      
}


.product__productos-titulo{
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

.product__productos-descripcion{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.product__productos-boton{
    background-color: darkgray;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    
}


.product__productos-boton a{
    display: inline-block;
    text-decoration: none;
    border-color: white;
    color: white;
    margin: 0px;
    padding: 0px;
}

.product__productos-boton a:hover{
    text-decoration: underline double;
}

.product__productos-boton:hover{
    background-color: #474747;
    font-weight: bold;
    cursor: pointer;
}

/* main como comprar */

.comocomprar__titulo{
    margin: 20px;
    font-size: 23px;
    font-weight: bold;
}

.comocomprar{
    padding-inline: 40px;
}


.comocomprar__1{
    font-size: 18px;
    padding-bottom: 30px;
}



/* Pie de Pagina */


.pie{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    border-top: 2px solid #696969;
    border-bottom: 2px solid #696969 ;
    width: 100%;
}

.pie__titulo{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    margin-top: 10px;
    padding-bottom: -20px;
}

.pie__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.pie__menu a{
    text-decoration: none;
    padding-inline: 20px;
    color: black;
    font-weight: bold;
    border-right: 3px solid black;
}

.pie__menu-nav.in{
    border-left: 3px solid black;
}

.pie__menu-nav.active, .pie__menu-nav a:hover{
    text-decoration: underline double;
}

.pie__redes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfcfcf;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #696969;
    
   
       
}

.pie__redes-whatsapp{
    position: fixed;
    bottom: 5px;
    right: 20px;
    background: none;
}
.pie__redes-gral{
    padding-inline: 20px;

}

.pie__redes a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}


/* Main Formulario */


.formulario{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 400px;
    background-image: linear-gradient(#505050, #d3d3d3);
    padding: 20px;
    margin: auto;
    color: white;
    font-weight: bold;
    border: 10px solid rgb(199, 199, 199);
    border-radius: 3px;
    box-shadow: 0 30px 50px -12px rgba(0, 0, 0, 60%);

}

.formulario__titulo{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: double;
    
}


.control{
    width: 350px;
    margin: 5px 0;
    font-size: 25px;

}

.label{
    font-size: 20px;
}

.formulario__sexo{
    font-size: 18px;
    padding: 10px 0px;
}

.formualario__2{
    width: 350px;
    
}

.formulario__2-p{
    font-size: 20px;
    padding-top: 10px;
}

.formulario__2-textarea{
    width: 100%;
    resize: none;
    font-size: 20px;
    margin: 10px 0px
}

.formulario__3{
    margin-bottom: 10px;
    margin-top: 5px;
}

.formulario__3-label{
    font-size: 20px;

}

.formulario__4{
    display: flex;
    justify-content: space-around;
}

.formulario__4 button{
    padding: 5px 10px;
    font-size: 15px;
    color: whitesmoke;
    background-color: #7d7d7d;
    border-radius: 5px;
    border: none;
    cursor: pointer;   
}

.formulario__4 button:hover, button:focus{
    outline: none;
    background-color: black;
}

/* main nuestra historia */

.titulo{
    display:flex ;
    justify-content: center;
    font-size: 50px;
    margin-top: 0;
    padding-bottom: 10px;

}

.historia{

    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: repeat(3 1fr);
    justify-content: center;
    padding: 0px 250px;


}

.historia__nosotros{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color:#f7f7f6;
    box-shadow: 30px 30px 50px -12px #979696;
    margin-bottom: 20px;
}



.historia__nosotros img {
    width: 40%;
    float: left;
   
}

.historia__nosotros p{
    margin-top: 20px;
}

.historia__dh{
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color:#f7f7f6;
    box-shadow: 30px 30px 50px -12px rgb(151, 150, 150);
    margin-bottom: 20px;
}

.historia__dh p{
    margin-top: 20px;
}

.historia__dh img {
    width: 25%;
    border-radius: 10px;
    float: right;
    

}

.historia__ellos{
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color:#f7f7f6;
    box-shadow: 30px 30px 50px -12px rgb(151, 150, 150);
    margin-bottom: 20px;
}

.historia__ellos img {
    width: 40%;
    border-radius: 10px;
    float: left;
}    




