/* Main Index portada */

.carousel {
    width: 90%;
    &-item img{
        height: 60vh;
    }
}

.principal__titulo-2{
    @include flex (center);
    margin-top: 30px;
    padding: 8px 0px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-image: linear-gradient(to right, grey, whitesmoke 55% 45%);
}

.destacados{
    justify-content: center;
    padding: 50px 40px;
    &__productos{ 
        background-color: #f1f1f1;
        border-radius: 10px;
        margin-bottom: 10px;
        &-images{
            width: 100%;
            padding: 8px;
            height: 300px;
        }
        &-titulo{
            margin-top: -15px;
            font-size: 16px;
        }
        &-boton{
            width: 60%;
        }

    }
}

@media screen and (max-width: 880px) {
    .principal__titulo-2{
        font-size: 20px;
    }
}