/* main nuestra historia */

.titulo{
    @include flex (center);
    font-size: 50px;
    margin-top: 0;
    padding-bottom: 10px;

}
.historia{
    @extend .contenedor;
    justify-content: center;
    &__nosotros{
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: bold;
        text-align: center;
        box-shadow: 30px 30px 50px -12px #979696;
        margin-bottom: 20px;
        background-image: linear-gradient(to right, rgb(255, 255, 255), #cfcfcf);
        & img{
            width: 100%;
        }
        & p{
            margin-top: 20px;
        }
    }
    &__dh{
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: bold;
        text-align: center;
        box-shadow: 30px 30px 50px -12px #979696;
        margin-bottom: 20px;
        background-image: linear-gradient(to right, #cfcfcf, #FFFF);
        & img{
            width: 60%;
            border-radius: 10px;
        }
        & p{
            margin-top: 20px;
        }
    }
}