@import url('https://fonts.googleapis.com/css2? family= Cinzel:wght@400;600 & family= Nunito:wght@400;800 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Cinzel:wght@400;600 & family= Great+Vibes & family= Nunito:wght@400;800 & display=swap' );

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

body{
    @extend .contenedor;
    background-image: $backgroundpr;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
}

header{
    position: sticky;
    top: 0;
}


main{
    padding: 40px 0px;
    margin-bottom: 50px;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
}

@mixin grid ($columnas) {
    display: grid;
    grid-template-columns: repeat(columnas, 1fr);   
}

@mixin flex ($valuejustify) {
    display: flex;
    justify-content: $valuejustify; 
}

